@CHARSET "UTF-8";
body{background:#FFFFFF;margin:0;padding:0;border:0;font-family:"微软雅黑";}
.body{width:100%;margin:0 auto;}/* 99.77876663% */
ul li{list-style:none;}

/* 导航栏 */
.dnav{position:fixed;margin-top:32px;height:80px;width:85%;margin-left:7.5%;margin-right:7.5%;z-index:999;}
.dnav_left{float:left;width:110px;height:52px;position:absolute;top:0;left:0;}
.dnav_right{float:right;height:51px;padding-top:14px;position:absolute;top:0;right:0;}
.dnav_right img{border:0;}
.dnav_right nav{height:52px;width:100%;}
.dnav_right nav ul{height:100%;width:100%;margin:0;padding:0;}
.dnav_right nav ul li{float:left;height:100%;padding:0;text-align:center;cursor:pointer;cursor:hand;}
.dnav_right nav ul li a,.dnav_right nav ul li a:hover{text-decoration:none;display:block;}
.margin_left{margin-left:43px;}

/* 主要内容部分 */
.main{height:100%;width:100%;overflow:hidden;}
.main_control{height:100%;width:100%;position:relative;padding:25% 0;}
.main_control1{height:100%;width:100%;position:absolute;left:0;top:0;opacity:1;}
.main_control2,.main_control3,.main_control4,.main_control5{height:100%;width:100%;position:absolute;left:0;top:0;opacity:0;}
.main_control1s,.main_control2s,.main_control3s,.main_control4s,.main_control5s{width:100%;height:100%;}

.block_out{height:100%;width:100%;overflow:hidden;position:relative;padding:25% 0;}
.block_bg{position:absolute;left:50%;top:25%;width:150vw;height:84.375vw;}	/*2023.5 1138.21875  以1349放大1.5倍 2880*1620 1366*768[1349*667] ||| left:-67.45px;top:-83.846875px;width:1483.9px;height:834.69375px;left:-5vw;top:-12.57074587vh;width:110vw;height:125.141491vh;*/ 
.block_ok{position:relative;left:-50%;top:-50%;width:100%;height:100%;
-moz-animation:animationsbg 13s linear infinite;
    -webkit-animation:animationsbg 13s linear infinite;
    animation:animationsbg 13s linear infinite;
	-o-animation:animationsbg 13s linear infinite;
    -ms-animation:animationsbg 13s linear infinite;	}
	
@keyframes animationsbg{
    0%{transform:scalex(1) scaley(1);}
	12%{transform:scalex(0.95) scaley(0.95);}
	25%{transform:scalex(0.9) scaley(0.9);}
	37%{transform:scalex(0.85) scaley(0.85);}
	50%{transform:scalex(0.80) scaley(0.80);}
	62%{transform:scalex(0.85) scaley(0.85);}
	75%{transform:scalex(0.9) scaley(0.9);}
	87%{transform:scalex(0.95) scaley(0.95);}
	100%{transform:scalex(1) scaley(1);}
}
@-moz-keyframes animationsbg{
    0%{-moz-transform:scalex(1) scaley(1);}
	12%{-moz-transform:scalex(0.95) scaley(0.95);}
	25%{-moz-transform:scalex(0.9) scaley(0.9);}
	37%{-moz-transform:scalex(0.85) scaley(0.85);}
	50%{-moz-transform:scalex(0.80) scaley(0.80);}
	62%{-moz-transform:scalex(0.85) scaley(0.85);}
	75%{-moz-transform:scalex(0.9) scaley(0.9);}
	87%{-moz-transform:scalex(0.95) scaley(0.95);}
	100%{-moz-transform:scalex(1) scaley(1);}
}
@-webkit-keyframes animationsbg{
    0%{-webkit-transform:scalex(1) scaley(1);}
	12%{-webkit-transform:scalex(0.95) scaley(0.95);}
	25%{-webkit-transform:scalex(0.9) scaley(0.9);}
	37%{-webkit-transform:scalex(0.85) scaley(0.85);}
	50%{-webkit-transform:scalex(0.80) scaley(0.80);}
	62%{-webkit-transform:scalex(0.85) scaley(0.85);}
	75%{-webkit-transform:scalex(0.9) scaley(0.9);}
	87%{-webkit-transform:scalex(0.95) scaley(0.95);}
	100%{-webkit-transform:scalex(1) scaley(1);}
}
@-ms-keyframes animationsbg{
    0%{-ms-transform:scalex(1) scaley(1);}
	12%{-ms-transform:scalex(0.95) scaley(0.95);}
	25%{-ms-transform:scalex(0.9) scaley(0.9);}
	37%{-ms-transform:scalex(0.85) scaley(0.85);}
	50%{-ms-transform:scalex(0.80) scaley(0.80);}
	62%{-ms-transform:scalex(0.85) scaley(0.85);}
	75%{-ms-transform:scalex(0.9) scaley(0.9);}
	87%{-ms-transform:scalex(0.95) scaley(0.95);}
	100%{-ms-transform:scalex(1) scaley(1);}
}
@-o-keyframes animationsbg{
    0%{-o-transform:scalex(1) scaley(1);}
	12%{-o-transform:scalex(0.95) scaley(0.95);}
	25%{-o-transform:scalex(0.9) scaley(0.9);}
	37%{-o-transform:scalex(0.85) scaley(0.85);}
	50%{-o-transform:scalex(0.80) scaley(0.80);}
	62%{-o-transform:scalex(0.85) scaley(0.85);}
	75%{-o-transform:scalex(0.9) scaley(0.9);}
	87%{-o-transform:scalex(0.95) scaley(0.95);}
	100%{-o-transform:scalex(1) scaley(1);}
}
.block_wz{position:absolute;width:100%;height:45px;top:23%;z-index:666;text-align:center;} /*当前1.1倍 477*41 放大1.3倍：width:620.1px;height:53.3px;left:364.45px;top:306.75px; */
.block_wz2{position:absolute;width:100%;height:40px;margin-top:76px;text-align:center;color:#FFFFFF;font-size:16px;z-index:666;} 
.block1_ball{position:absolute;width:30%;height:65px;left:31%;top:22.5%;opacity:0.8;} /* 550*80 */
.block1_ballone{
	width:50px;height:50px;border-radius:25px;background:#FFDE00;z-index:0;
    -moz-animation:animations 24s linear infinite;
    -webkit-animation:animations 24s linear infinite;
	    -o-animation:animations 24s linear infinite;
    -ms-animation:animations 24s linear infinite;
    animation:animations 24s linear infinite;}
.block1_balltwo{
	width:56px;height:56px;border-radius:28px;background:#00AAEE;z-index:8;
    -moz-animation:animations2 24s linear infinite;
    -webkit-animation:animations2 24s linear infinite;
		    -o-animation:animations2 24s linear infinite;
    -ms-animation:animations2 24s linear infinite;
    animation:animations2 24s linear infinite;}
	
@keyframes animations{
    0%{transform:translate(-1.853224610822832vw,0.3706449221645663vw);}/* -25px,0.3706449221645663vw */
    12%{transform:translate(8.339510748702743vw,1.482579688658265vw);}/* 112.5px,1.482579688658265vw */
    25%{transform:translate(18.53224610822832vw,-1.334321719792439vw);}/* 250px,-1.334321719792439vw */
    38%{transform:translate(28.72498146775389vw,0.7412898443291327vw);}/* 387.5px,0.7412898443291327vw */
    50%{transform:translate(37.06449221645663vw,0.3706449221645663vw);}/* 500px,0.3706449221645663vw */
    62%{transform:translate(28.72498146775389vw,2.149740548554485vw);}
    75%{transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{transform:translate(8.339510748702743vw,2.149740548554485vw);}
    100%{transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
}
@-moz-keyframes animations{
    0%{-moz-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    12%{-moz-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    25%{-moz-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-moz-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    50%{-moz-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    62%{-moz-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    75%{-moz-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-moz-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    100%{-moz-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
}
@-webkit-keyframes animations{
    0%{-webkit-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    12%{-webkit-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    25%{-webkit-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-webkit-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    50%{-webkit-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    62%{-webkit-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    75%{-webkit-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-webkit-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    100%{-webkit-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
}
@-o-keyframes animations{
    0%{-o-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    12%{-o-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    25%{-o-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-o-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    50%{-o-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    62%{-o-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    75%{-o-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-o-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    100%{-o-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
}
@-ms-keyframes animations{
    0%{-ms-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    12%{-ms-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    25%{-ms-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-ms-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    50%{-ms-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    62%{-ms-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    75%{-ms-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-ms-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    100%{-ms-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
}

@keyframes animations2{
    0%{transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    12%{transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    25%{transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{transform:translate(8.339510748702743vw,1.482579688658265vw);}
    50%{transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    62%{transform:translate(8.339510748702743vw,2.149740548554485vw);}
    75%{transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{transform:translate(28.72498146775389vw,2.149740548554485vw);}
    100%{transform:translate(37.06449221645663vw,0.3706449221645663vw);}
}
@-moz-keyframes animations2{
    0%{-moz-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    12%{-moz-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    25%{-moz-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-moz-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    50%{-moz-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    62%{-moz-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    75%{-moz-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-moz-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    100%{-moz-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
}
@-webkit-keyframes animations2{
    0%{-webkit-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    12%{-webkit-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    25%{-webkit-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-webkit-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    50%{-webkit-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    62%{-webkit-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    75%{-webkit-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-webkit-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    100%{-webkit-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
}
@-o-keyframes animations2{
    0%{-o-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    12%{-o-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    25%{-o-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-o-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    50%{-o-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    62%{-o-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    75%{-o-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-o-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    100%{-o-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
}
@-ms-keyframes animations2{
    0%{-ms-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
    12%{-ms-transform:translate(28.72498146775389vw,0.7412898443291327vw);}
    25%{-ms-transform:translate(18.53224610822832vw,-1.334321719792439vw);}
    38%{-ms-transform:translate(8.339510748702743vw,1.482579688658265vw);}
    50%{-ms-transform:translate(-1.853224610822832vw,0.3706449221645663vw);}
    62%{-ms-transform:translate(8.339510748702743vw,2.149740548554485vw);}
    75%{-ms-transform:translate(18.53224610822832vw,-1.260192735359526vw);}
    87%{-ms-transform:translate(28.72498146775389vw,2.149740548554485vw);}
    100%{-ms-transform:translate(37.06449221645663vw,0.3706449221645663vw);}
}

/* 控制原点 */
.controlbtn{position:absolute;right:2.223869532vw;top:19.60711638250556vw;height:22vh;width:1.499250374812594vh;z-index:700;}/* top:39.6551724137931vh */
.controlbtn nav{width:100%;height:100%;padding:0;}
.controlbtn nav ul{width:100%;height:100%;margin:0;padding:0;}
.controlbtn nav ul li{height:1.499250374812594vh;width:1.499250374812594vh;border-radius:100%;margin:0 0 1.499250374812594vh;padding:0;cursor:pointer;cursor:hand;}/* height:1.111934766vw;width:1.111934766vw; */
.controlbtn_current{background:#F7CD0D;border:1px solid #F7CD0D;}
.controlbtn_other{border:1px solid #FFFFFF;}

/* 底部信息 */
.footers{width:100%;display:block;overflow:hidden;}
.footer{width:60%;height:100%;padding:0 20%;background:#000000;color:rgb(206,206,206);position:relative;border:1px solid #000000;}
.footer_wz1{font-size:1.037805782060786vw;margin-top:4.151223128243143vw;}
.footer_wz2{font-size:0.8895478131949592vw;margin-top:1.927353595255745vw;padding-left:1.3vw;}
.footer_wz2dz{position:relative;top:0.2223869532987398vw;display:inline-block;width:1.482579688658265vw;height:1.482579688658265vw;}
.footer_wz3{font-size:0.8895478131949592vw;margin-top:1.482579688658265vw;padding-left:1.3vw;}
.footer_wz3kfphone{position:relative;top:0.2223869532987398vw;display:inline-block;width:1.482579688658265vw;height:1.482579688658265vw;}
.footer_wz3 span{font-size:1.339285714285714vw;color:rgb(255,255,255);font-weight:bold;}
.footer_wz4{font-size:1.037805782060786vw;margin-top:2.446256486286138vw;}
.footer_wz4 span{display:inline-block;padding-left:0.95168vw;font-size:0.8895478131949592vw;}
.footer_wz4 span a , .footer_wz5 span a {color:rgb(206,206,206);text-decoration:none;}
.footer_wz5{font-size:1.037805782060786vw;margin-top:2.001482579688658vw;}
.footer_wz5 span{display:inline-block;padding-left:0.95168vw;font-size:0.8895478131949592vw;}
.footer_wz6{font-size:0.8895478131949592vw;margin:2.965159377316531vw auto;text-align:center;}
.footer_wz7{position:absolute;top:4.151223128243143vw;right:20%;height:14.82579688658265vw;width:12.0830244vw;display:block;}
.footer_wz7img{height:12.0830244vw;width:12.0830244vw;}
.footer_wz7 span{display:block;font-size:0.8895478131949592vw;text-align:center;padding-top:1.3vh;}

@media all and (max-width:950px){
	.footer_wz7{display:none;}
} 