a,abbr,address,applet,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{background:0 0;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul {list-style:none;display:block;}
ul li {float:left;display:block;}
body {width:100%;}
.Title p {text-align:center;font-size:18px;font-weight:blod;font-family:"微软雅黑";}
.wrapper {width:100%;position:relative;}
.mid-wrapper {margin-left:15%;margin-right:15%;width:70%;}
.header-b {height:60px;position:fixed;z-index:999;}
.flex {display:flex;display:-webkit-flex;}
/* header start */
/* header logo */
.header-logo {float:left;padding-top:10px;padding-bottom:10px;display:block;width:122px;
	height:40px;}
.logo {margin:auto;display:block;width:100%;height:100%;}
/* header language */
.language {float:right;display:block;margin-right:-18%;width:14%;height:100%;}
.language a {display:block;width:100%;height:100%;text-align:center;opacity:0.4;
	text-decoration:none;line-height:60px;font-size:16px;color:#fff;font-family:"微软雅黑";
}
/* header nav */
.nav {float:right;display:block;width:50%;height:100%;}
.nav-ul {width:100%;height:100%;}
.nav-ul-li {width:20%;height:100%;text-align:right;}
.nav-ul-li a {display:block;width:100%;height:100%;line-height:60px;
	font-size:16px;color:#fff;font-family:"微软雅黑";opacity:0.4;
}
.nav-ul:first-child .shouye a {color:#fff;opacity:1;}
.nav-ul-li .index:link , .nav-ul-li .index:visited , .nav-ul-li .index:active , .item .item-info:link , .item .item-info:visited , .item .item-info:active  {color:#fff;opacity:0.4;}
.nav-ul-li .index:hover , .item .item-info:hover , .language a:hover {color:#fff;opacity:1;}
/* header nav menu-list*/
.menu-list {display:none;}
.nav-ul .nav-ul-li:hover .menu-list {
	display:block;position:absolute;left:0;top:60px;z-index:999;padding:20px 5%;
	width:90%;height:auto;background-color:#666;opacity:0.9;
}
/* header nav menu-list item*/
.menu-list .item {float:left;margin-left:10px;padding:0 20px;width:20%;height:auto;font-family:"微软雅黑";}
.menu-list:after , .item:after {clear:both;content:'';display:block;}
.item .item-title {text-align:center;padding:20px 0;font-size:18px;color:#fff;border-bottom:1px dashed #fff;}
.item .item-info {display:block;margin:-10px 0 -10px 50px;text-align:left;font-size:16px;color:#fff;}
/* header media */
@media screen and (max-width:830px) {
	.header-logo {position:fixed;left:50%;margin-left:-61px;width:122px;}
	.language , .nav {display:none;}
}
@media screen and (min-width:830px) and (max-width:1200px) {
	.language {margin-right:-22%;width:21%;}
	.nav {width:70%;}
}
/**
 *header end 
 *content start
 *content banner
 */
.content-height {position:relative;width:100%;height:675px;overflow:hidden;}
.banner-list {width:400%;height:100%;}
.banner-pic {float:left;width:25%;height:100%;background-size:cover;background-position: 50% 50%;}
.banner-prev-next {margin-left:15%;top:50%;position:absolute;width:70%;height:50%;text-align:center;}
.banner-roll {width:100%;height:auto;}
.banner-roll a {display:block;}
.banner-prev {float:left;opacity:0.5;}
.banner-next {float:right;opacity:0.5;}
.banner-prev:hover , .banner-next:hover , .banner-bottom:hover {opacity:1;}
.banner-prev:after , .banner-next:after {clear:both;content:'';display:block;}
.banner-bottom {display:block;margin-top:20%;opacity:0.5;}
.banner-btn {margin-left:45%;bottom:4%;position:absolute;width:10%;height:3%;
	text-align:center;
}
.banner-btn-line {float:left;margin:0 5px;width:5px;height:5px;border-radius:50%;background-color:#fff;}
.banner-btn-line:first-child {width:60px;
	border-top-left-radius:2px;border-top-right-radius:2px;
	border-bottom-right-radius:2px;border-bottom-left-radius:2px;
}
/* content product */
.content-wrapper {width:100%;height:auto;padding-top:60px;padding-bottom:40px;}
.Title{margin:0px auto 60px;width:40%;}
.Title p {text-align:center;font-size:42px;color:#333;font-family:"微软雅黑";}
.product-list , .project-list , .news-list , .partner-list {
	width:100%;
}
.product-list {height:255px;}
.product {float:left;display:block;margin-right:10px;padding:10px;
	width:21.6%;height:auto;text-align:center;
}
.product:after {clear:both;content:'';display:block;}
.product-pic {width:100px;height:100px;}
.product-name {margin:30px auto 20px;font-size:24px;color:#333;
	font-family:"微软雅黑";
}
.product-info {text-align:justify;line-height:24px;letter-spacing:-1px;
	font-size:14px;font-family:"微软雅黑";color:#666;
}
/* content project */
.project {flex:2;display:block;height:250px;margin-right:10px;}
.project:hover {margin-top:-15px;background-color: rgb(255, 255, 255);
	box-shadow: 5px 20px 22px 0px rgba(0, 0, 0, 0.2);}
.project-pic {width:100%;height:190px;}
.project-info {padding:20px 5%;width:90%;height:20px;color:#000;font-family:"微软雅黑";background-color:#fff;}
.project-info p {border-right:1px dashed #222;}



















