a,abbr,address,and,applet,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video{background:0 0;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
h1{font-size:23px;}h2{font-size:20px;}h3{font-size:18px;}h4{font-size:16px;}h5{font-size:12px;}h6{font-size:11px;}
h2,h3,h4 {text-align:center;font-weight:blod;font-family:"微软雅黑";}
.Title p {text-align:center;font-size:18px;font-weight:blod;font-family:"微软雅黑";}
b {text-align:center;font-weight:blod;font-family:"微软雅黑";} 
.wrapper {width:100%;min-width:1200px;}
.minwrapper {margin:0 auto;width:70%;}
.flex {display:flex;display:-webkit-flex;}
/*
 * header logo
 */
.header-h {height:63px;}
.header-b {position:fixed;background-color:#fff;z-index:999;margin-top:-65px;height:65px;}
.logo {float:left;width:14%;height:63px;overflow:hidden;}
.logo img {margin:8px auto 0px;width:100%;height:52px;}
/*
 * header nav
 */
ul {list-style:none;width:100%;}
.nav {float:right;height:63px;padding:23px;width:50%;}
@media screen (max-width:800px){
	.nav {display:none;}
}
.nav div {flex:1;position:relitive;height:63px;}
.nav div .index {
	width:100%;display:block;font-size:16px;height:63px;color:#000;
	text-align:right;font-family:"微软雅黑";
}
.nav div:first-child .index {color:red;}
.nav div:link .index {color:#000;}
.nav div:visited .index {color:#000;}
.nav div:hover .index {color:red;}
.nav div:active .index {color:#000;}
.menu-list {display:none;}
.nav div:hover .menu-list {
	display:block;position:absolute;left:0;top:63px;
	z-index:999;padding:20px 5%;width:90%;height:190px;min-height:;
	background-color:#666;opacity:0.9;
}
/*
 * item
 */
 .item {float:left;margin-left:10px;padding:0 20px;width:20%;height:100%;color:#fff;font-family:"微软雅黑";}
 .menu-list:after , .item:after {clear:both;content:' ';display:block;}
 .item-title {text-align:center;padding:20px 0;margin:;font-size:16px;border-bottom:1px dashed #fff;}
 .item-info {margin:20px 50px;display:block;font-size:14px;color:#fff;}

/*
 * content banner
 */
.banner {width:100%;height:440px;background-color:;}
.banner-p {margin-top:63px;}
/*
 * content product
 */
.padding {padding:10px;}
.Title{margin:10px auto 20px;width:40%;font-family:"微软雅黑";}
.product-list , .project-list , .news-list , .partner-list {width:100%;margin-bottom:10px;}
.product {width:25%;height:230px;margin-right:10px;text-align:center;padding:10px;}
.product-pic {width:100px;height:100px;}
.product-name {margin:20px auto 10px;font-size:18px;color:#000;font-weight:;font-family:"微软雅黑";}
.product-info {text-align:justify;line-height:24px;letter-spacing:-1px;font-size:14px;font-family:"微软雅黑";}
/*
 * content project
 */
.project {flex:2;display:block;height:250px;margin-right:10px;}
.project:hover {margin-top:-15px;background-color: rgb(255, 255, 255);box-shadow: 5px 20px 22px 0px rgba(0, 0, 0, 0.2);}
.project-pic {width:100%;height:190px;}
.project-info {padding:20px 5%;width:90%;height:20px;color:#000;font-family:"微软雅黑";background-color:#fff;}
.project-info p {border-right:1px dashed #222;}
/*
 * content news
 */
.news {flex:3;height:230px;margin-right:10px;padding:10px;}
.news-left {padding-bottom:20px;width:100%;border-bottom:1px solid #EEEEEE;}
.news-kind {width:100%;font-size:19px;color:#000;font-weight:;font-family:"微软雅黑";}
.news-more {width:50%;float:right;text-align:right;font-size:14px;color:#000;font-weight:;font-family:"微软雅黑";}
.news-kind:after , .news-more:after {clear:both;content:' ';display:block;}
.news-first {width:98%;padding-top:20px;padding-bottom:20px;padding-left:2%;border-bottom:1px solid #EEEEEE;}
.news-first a {display:block;width:100%;}
.news-first-title {width:100%;font-size:18px;color:#EE1022;font-weight:;font-family:"微软雅黑";}
.news-first-abstract {margin-top:10px;line-height:24px;text-align:justify;font-size:16px;color:#EE1022;font-weight:;font-family:"微软雅黑";}
.news-lists {padding:8px 0;border-bottom:1px solid #EEEEEE;}
.news-lists a {color:#000;font-size:16px;font-family:"微软雅黑";}
.news-lists span {float:right;color:#999;font-size:14px;font-family:"微软雅黑";}


/*
 * content partner
 */
.partner {width:24%;height:100px;margin-right:10px;}
.partner-page {width:100%;}
.partner-page01 , .partner-page02 {width:100%;}
.partner-page02 {display:none;}
.partner-next-button {margin:0 auto;width:50px;height:40px;}
.partner-prev , .partner-next {display:block;width:20px;height:20px;border-radius:10px;background-color:#999;}
.partner-prev {float:left;width:22px;height:22px;border-radius:11px;background-color:red;}
.partner-next {float:right;}
/*
 * content footer
 */
.footer-list {width:100%;color:#F2F2F2;}
.footer-1 {margin-right:10px;width:100px;height:140px;}
.footer-2 {margin-right:10px;width:250px;height:140px;}
.footer-3 {margin-right:10px;width:200px;height:140px;}
.footer-4 {width:150px;height:140px;text-align:center;}
.footer-title {margin:10px 0;font-size:16px;font-family:"微软雅黑";}
.footer-info {margin-bottom:10px;font-size:14px;font-family:"微软雅黑";}
.footer-title-01 {margin:10px 0;font-size:16px;font-family:"微软雅黑";text-align:center;}
.footer-pic {width:100px;height:100px;}
.loop-info {margin-top:-5px;padding:10px;}
.loop-info p {text-align:center;font-size:14px;font-family:"微软雅黑";color:#6F6F6F;}























